.preview {
    height: 128px;
    width: 128px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    background: white;
    display: inline-block;
}

.div-post-editor {
    color: black;
}

.preview-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.label {
    background-color: rgba(0, 43, 100, 1);
    width: 20%;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    text-align: center;
    border-radius: 0.5em;
    border: 2px solid rgb(0, 0, 0);
}

/* .post-editor-page { 
     display: grid;
    grid-template-columns: 35% 65%; 
 } */

/* admin */
.item-list {
    display: grid;
    gap: 8px;
}

.item-list li {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    align-items: center;
    grid-template-rows: 1fr;
    background-color: rgb(227, 227, 227);
    border: 1px solid black;
}

.admin-preview {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    background: white;
    /* display: inline; */
}

.admin-p {
    position: relative;
    display: inline;
    padding: 20px;
    margin: 0px;
}

.admin-p2 {
    position: relative;
    display: inline;
    padding-right: 60%;
    margin: 0px;
    text-align: end;
}

.admin-panel {
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 10px;
    height: 100%;
}

.check-box {
    margin: 23px;
}

.admin-post-list {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), white, white, rgba(0, 0, 0, 1));
    gap: 20px;
    border-top: 1px solid rgb(132, 132, 132);
    border-right: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
    border-left: 1px solid rgb(132, 132, 132);
    box-shadow: 2px 2px 20px 0px white;
    border-radius: 10px;
}

.delete-button {
    display: inline-block;
    grid-column-start: 5;
    border-radius: 10px;
    height: 30px;
    width: 20%;
    margin: 20px auto;
}

.delete-button:hover {
    transform: scale(1.01);
    transition: 150ms;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 15px 0px white;
    cursor: pointer;
}

.delete-button:active {
    transform: scale(0.97);
}

.post-detail {
    width: 125px;
    font-weight: bold;
    margin: 0px 20px 10px 0px;
}

.edit1:hover {
    background-color: rgb(176, 255, 196);
    color: black;
}
.edit2:hover {
    background-color: rgb(255, 255, 99);
    color: black;
}

.up {
    position: relative;
    top: -20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.left-corners {
    border-radius: 0.5em;
    border: 1px solid black;
}
.smaller {
    width: 30%;
    height: 70%;
}
.bigger {
    font-size: 1.75em;
}
.reset-button {
    font-size: 0.75rem;
    border: 1px solid black;
}
.left-corners:hover {
    box-shadow: 0px 0px 25px 10px white;
    cursor: pointer;
    color: black;
    background-color: rgba(120, 120, 120, 0.587);
}
.left-corners:active {
    transform: scale(0.97);
}
.admin-titles {
    padding-left: 30%;
}
.admin-titles2 {
    padding-left: 5%;
}
.admin-titles3 {
    margin-left: 20%;
}
.admin-titles4 {
    margin-left: 10%;
}
.bold {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
}
.item-link {
    text-decoration: none;
    font-weight: bold;
    transition: 250ms;
    color: black;
}
.item-link:hover {
    font-size: 1.05em;
    transition: 250ms;
    text-shadow: 0px 0px 10px rgb(82, 166, 255);
}

.hide {
    display: none;
}
