.container {
    display: grid;
    /* grid-template-rows: 200px; */
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
}

.search {
    display: grid;
    grid-template-columns: 1fr;
}

#name-input,
#astro-sign-select,
#animal-select,
#theme-select,
#button {
    height: 35px;
    border-radius: 8px;
    margin: 40px;
    box-shadow: 0px 0px 15px 0px black;
    background-image: linear-gradient(
        to bottom right,

        green,
        blue,
        indigo,
        violet
    );
    transition-duration: 1000ms;
    color: white;
}

#name-input:hover,
#astro-sign-select:hover,
#animal-select:hover,
#theme-select:hover,
#button:hover {
    background: none;
    background-color: rgba(100, 84, 194);
    color: white;
}

#notification-display {
    border: 1px solid rgb(52, 29, 182);
    text-align: center;
    font-size: large;
    background-color: rgba(255, 233, 233, 0.7);
    width: 70%;
    margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beanie-baby {
    /* background-color: rgb(8, 123, 255); */
    border: 2px solid black;

    height: 230px;
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 750ms;
    box-shadow: 2px 5px 15px;
    background-image: linear-gradient(
        to bottom right,

        green,
        blue,
        indigo,
        violet
    );
    text-shadow: 2px 2px 2px black;
    color: white;
}

.beanie-baby:hover,
.beanie-baby:hover img {
    background: none;
    background-color: rgb(100, 84, 194);
    color: rgb(43, 0, 161);
    border: solid 2px rgb(15, 0, 226);
    box-shadow: 10px 10px 0px inset rgb(255, 255, 255);
    transform: scale(0.98);
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    box-shadow: 2px 2px 5px inset;
}
.beanie-baby img {
    height: 175px;
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(0.98);
}
.beanie-baby img:hover {
    height: 175px;
    border: 2px solid rgb(38, 0, 255);
    border-radius: 10px;
}

.error {
    color: red;
    font-weight: bold;
}
