#post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-auto-rows: 600px;
    gap: 30px;
}

#post-list li {
    background-color: yellow;
    padding: 25px;
    background-image: linear-gradient(black, white, white, white, white, black);
    border-top: 1px solid rgb(132, 132, 132);
    border-right: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
    border-left: 1px solid rgb(132, 132, 132);
    box-shadow: 2px 2px 20px 0px white;
    border-radius: 10px;
}

#post-list li:hover {
    box-shadow: 2px 2px 30px 5px white;
    border-radius: 10px;
    transform: scale(1.01);
    transition: 250ms;
}
#post-list li a:hover {
    box-shadow: 2px 2px 30px 5px white;
    border-radius: 10px;
    transform: scale(1.01);
    transition: 250ms;
}

#post-list li a {
    text-decoration: none;
    color: black;
}
#post-list li:active {
    box-shadow: 0px 0px 0px 0px white;
    border-radius: 10px;
    transform: scale(0.95);
    transition: 150ms;
}

#post-list li h2 {
    color: rgba(255, 255, 255, 0.801);
}

.image-size {
    max-height: 300px;
    max-width: 300px;
}
.contact-info {
    font-weight: 700;
}

.delete-button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px 0px black;
    padding: 3px 8px;
    border-radius: 0.5em;
}

/* #profile-name {
    color: rgb(198, 255, 119);
    font-weight: bold;
    font-size: 2em;
    text-shadow: 5px 5px 10px black;
    margin-left: 5px;
} */
.logged-in-as {
    text-shadow: 5px 5px 10px black;
}
#search-form {
    width: 400px;
    height: 70px;
}
#search-input {
    background-color: black;
    height: 30px;
    color: white;
}
#category-select {
    background-color: black;
    height: 30px;
    color: white;
}
#search-button {
    height: 30px;
}
