.container {
    display: grid;
    grid-template-rows: 200px;
    /* grid-template-columns: 1fr 1fr; */
}

.search {
    display: grid;
    grid-template-columns: 1fr;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.beanie-baby {
    background-color: rgb(8, 123, 255);
    border: 2px solid black;

    height: 200px;
    width: 400px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
}

.beanie-baby img {
    height: 175px;
    border: 2px solid black;
    border-radius: 10px;
}
